<nav class="navbar navbar-dark bg-danger navbar-expand-sm">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <i class="fa fa-th bg-normal" aria-hidden="true">  My Blog App</i>
        </a>
        <form class="form-inline">
            <a class="navbar-brand" routerLink="/book/admin">
                <i class="fa fa-book bg-normal" aria-hidden="true">  Books</i>
            </a>
            <a class="navbar-brand" routerLink="/user/admin">
                <i class="fa fa-user bg-normal" aria-hidden="true">  Profile</i>
            </a>
        </form>

        
    </div>
    
</nav>
