<div class="card list-group-item-standard">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <img class="book-image" src="{{book?.image}}" />
            </div>
            <div class="col-sm-7 mt-4">
                <ul class="list-group">
                    <li class="list-group-item">Book Name: <span class="fw-bold">{{book?.name}}</span></li>
                    <li class="list-group-item">Authors: <span class="fw-bold">{{book?.authors}}</span></li>
                    <li class="list-group-item">ISBN: <span class="fw-bold">{{book?.isbn}}</span></li>
                </ul>
                <div class="d-flex justify-content-center mt-3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-secondary" routerLink="/book/edit/{{book?.id}}">
                            <i class ="fa fa-pencil-square" ></i> Edit</a>
                        <a class="btn btn-danger" (click)="deleteBook(book?.id)">
                            <i class ="fa fa-minus-square"></i> Delete</a >
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
